<div id="calendar" class="container-fluid">
    <div class="col-md-2">
        <form action="">
            <input type="text">
            <input type="text">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button>Submit</button>
            <button>Cancel</button>
        </form>
    </div>
    <div class="col-md-10">
    <full-calendar class="my_calendar" get-event="getEvents()" load-event-for-week="loadEventForWeek(date)" load-event-for-day="loadEventForDay(date)"></full-calendar>
    </div>
</div>